#title {
  // background-color: blanchedalmond;
  font-style: italic;
  font-weight: bold;
  font-size: 1.1em;
  width: 30%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title-icon {
  color: brown;
  font-size: 1.7em;
}

#display {
  font-family: "Orbitron", sans-serif;
  background-color: rgb(165, 42, 42);
  border: 3px solid black;
  border-radius: 7px;
  color: black;
  height: 75%;
  width: 40%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  #display-text {
    height: 40%;
  }
}

#status {
  /* background-color: coral; */
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  #status-volume {
    height: 40%;
    width: 60%;
    text-align: left;
  }
}

#controls {
  // background-color: burlywood;
  height: 75%;
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.controls-volume {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-wrapper input {
  width: 40px;
  height: 70px;
  -webkit-appearance: none;
  -webkit-appearance: slider-vertical;
}

.slider-wrapper input:hover {
  cursor: pointer;
}

.controls-power {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-wrapper:hover {
  cursor: pointer;
}

.pwr-btn-on {
  color: brown;
  font-size: 2em;
}

.pwr-btn-off {
  color: white;
  font-size: 2em;
}
