.App {
  background-color: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#drum-machine {
  background-color: rgb(48, 47, 46);
  border: 1px solid black;
  height: 500px;
  max-width: 450px;
  text-align: center;
  padding: 0 10px;
}

#drum-machine h1 {
  color: white;
}

#drum-pads-container {
  background-color: rgba(100, 148, 237, 0);
  /* border: 1px solid rgb(255, 255, 255); */
  border-radius: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.drum-pad {
  background-color: white;
  /* border: 1px solid cyan; */
  border-radius: 7px;
  flex: 0 31%;
  margin: 2px;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ui-container {
  background-color: thistle;
  display: flex;
  justify-content: space-around;
  height: 150px;
}

#title {
  background-color: blanchedalmond;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#display {
  background-color: turquoise;
  width: 33%;
  color: azure;
}

.status {
  background-color: coral;
  display: flex;
  justify-content: space-around;
}

#inputs {
  background-color: burlywood;
  width: 33%;
}
