.App {
  background-color: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#drum-machine {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(48, 47, 46);
  border: 1px solid black;
  height: 500px;
  max-width: 450px;
  text-align: center;
  padding: 10px 10px;
}

#drum-pads-container {
  background-color: rgba(100, 148, 237, 0);
  /* border: 1px solid rgb(255, 255, 255); */
  border-radius: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.drum-pad {
  background-color: white;
  /* border: 1px solid cyan; */
  border-radius: 7px;
  flex: 0 31%;
  margin: 2px;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ui-container {
  /* background-color: thistle; */
  color: white;
  display: flex;
  justify-content: space-around;
  height: 150px;
}

#title {
  /* background-color: blanchedalmond; */
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#display {
  background-color: rgb(53, 157, 255);
  color: black;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.status {
  /* background-color: coral; */
  display: flex;
  justify-content: space-around;
}

#controls {
  /* background-color: burlywood; */
  width: 33%;
  display: flex;
  justify-content: space-around;
}

.controls-volume {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-wrapper input {
  width: 40px;
  height: 100px;
  -webkit-appearance: none;
  -webkit-appearance: slider-vertical;
}

.controls-power {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  background-color: black;
  width: 50px;
  height: 20px;
}

.btn-inner {
  background-color: brown;
  height: 20px;
  width: 25px;
  float: right;
}
